<span class="site-title"><a href="/">Jono Shields</a></span>
<nav>
  <a href="https://instagram.com/jono_learns_photography/">Instagram</a>
  <a href="/about/">About</a>
  <a href="/buy/">Buy a print</a>
</nav>
