<span class="site-title"><a href="/">IGNIS AURUM</a></span>
<nav>
  <a href="https://instagram.com/the.ignis.aurum/">Instagram</a>
  <a href="/about/">About</a>
  <!--<a href="/blog/">Blog</a> -->
</nav>
