---
title: Jono Shields Photography
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">

    {% set css %}
      {% include "../assets/css/style.css" %}
    {% endset %}
    <!-- feed it through our cssmin filter to minify -->
    <style>
      {{ css | cssmin | safe }}
    </style>

    <title>Jono Shields - {{ title }}</title>
  </head>
  {% include 'navbar.njk' %}
  <body>
    {{ content | safe }}
  </body>
</html>
