body {
  font-family: 'Open Sans', monospace;
  -moz-font-feature-settings:    "kern" 1;
  -ms-font-feature-settings:     "kern" 1;
  -o-font-feature-settings:      "kern" 1;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings:         "kern" 1;
  font-kerning: normal;
  letter-spacing: 0.015em;
  word-spacing: 0.001em;
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox */
  text-rendering: optimizeLegibility;
  margin:0;
  color:#FFF;
  background-color: #111;
}

.site-title {
  font-weight:900;
  text-align: center;
  font-size:2em;
  margin:.67em;
  display:block;
}

.site-title a{
  text-decoration:none;
  border-bottom: 10px white solid;
}

h1{
 font-size:1.5em;
}

h1, h2 {
  font-weight:300;
  margin:0em 2em;
  margin-bottom:0.5em;
  text-align:center;
}

h3{
  padding:1em;
}

nav {
  margin:auto;
  display:block;
  text-align: center;
  margin-bottom:2em;
}

nav a{
  text-align:right;
  padding:1em;
}

a{
  color:#FFF;
}

img {
  max-width:100%;
}

wide {
  width:100%;
}

.product-container{
  display:block;
  max-width: 300px;
  margin:auto;
  margin-bottom:2em;
}

.product-container img{
  object-fit:cover;
  width: 300px;
  height: 300px
}

.product-price{
  font-weight:bold;
  display:block;
}

.product-link{
  text-decoration:none;
}

.purchase{
  float:right;
  font-size:0.8em;
  padding:10px;
  border:none;
  text-decoration:none;
  margin-bottom:10em;
  background-color:#000;
  font-size: 1.2em;
}

.gallery{
  display: flex;
  margin: auto;
  justify-content: center;
}

.thumb{
  padding:3px;
  padding-top:10px;
  width:75px;
  height:75px;
  object-fit: cover;
}

.left{
  margin-left:1em;
  margin-right:auto;
  display:block;
}

.right{
  margin-right:1em;
  margin-left:auto;
  display:block;
}

.right, .left {
 max-height: 100vh;
 max-width: 75vw;
}

.column-narrow{
 padding:1em;
}

div.image{
  margin-bottom:3em;
}

p{
  padding:1em;
  text-align: justify;
}

.box{
  border: 1px black solid;
  margin: 1em;
  margin-bottom:3em;
  padding:1em;
}

.box p{
  padding:0;
  margin-bottom:0em;
}

.box h4{
  margin-top:0em;
}

.box .closebutton{
  float:right;
  cursor:pointer;
}

.cancelled {
  display: none;
}

 .success {
  display: none;
}

@media screen and (min-width:600px){
  .site-title {
    font-size:3em;
  }
  
  .left{
    margin-left:2em;
  }
  
  .right{
    margin-right:2em;
  }
  
  .right, .left {
   max-width: 80vw;
  }
  
  div.image{
    margin-bottom:6em;
  }
  
  img.bottom{
    margin-bottom:-1em;
    margin: auto;
    display: block;
    padding-top: 2em;
  }
  
  p{
    max-width:38em;
    margin:auto;
    
  }
  
  .column{
    max-width:80%;
    padding:1em;
    margin:auto;
  }
  
  .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .column-narrow{
    max-width:38em;
    margin:auto;
  }
  
  .product-container{
    padding:1em;
    width:80%;
  }
  
  .product-image{
    margin:auto;
    display:block;
    max-height: 300px;
  }
  
  .product-container .column-narrow {
    text-align: center;
  }
  
  .box{
    max-width:60%;
    margin-left:auto;
    margin-right: auto;
  }
}

@media screen and (min-width:1200px){
  .product-container{
    width:60%;
  }
}
