@font-face {
  font-family: Source Code Pro;
  src: url('/assets/css/SourceCodePro-Light.otf.woff2') format('woff2'), 
    url('/assets/css/SourceCodePro-Light.otf.woff') format('woff');
}

body {
  font-family: 'Source Code Pro', monospace;
  -moz-font-feature-settings:    "kern" 1; 
  -ms-font-feature-settings:     "kern" 1; 
  -o-font-feature-settings:      "kern" 1; 
  -webkit-font-feature-settings: "kern" 1; 
  font-feature-settings:         "kern" 1;
  font-kerning: normal;
  letter-spacing: 0.015em;
  word-spacing: 0.001em;
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox */
  text-rendering: optimizeLegibility;
  margin:0;
  color:#111;
}

.site-title {
  font-weight:300;
  text-align: center;
  font-size:2em;
  margin:.67em;
  display:block;
}

.site-title a{
  text-decoration:none;
}

h1{
 font-size:1.5em;
}

h1, h2 {
  font-weight:300;
  margin:0em 2em;
  margin-bottom:0.5em;
  text-align:center;
}

h3{
  padding:1em;
}

nav {
  margin:auto;
  display:block;
  text-align: center;
  margin-bottom:2em;
}

nav a{
  text-align:right;
  padding:1em;
}

a{
  color:#111;
}

img {
  max-width:100%;
}

wide {
  width:100%;
}

.product-container{
  display:inline-block;
  margin-bottom:2em;
}

.product-price{
  font-weight:bold;
  display:block;
}

.product-link{
  text-decoration:none;
}

.purchase{
  float:right;
  font-size:0.8em;
  border:1px solid #222;
  padding:10px;
  font-weight:300;
  text-decoration:none;
  margin-bottom:10em;
  font-weight: bold;
  background-color:#fff;
  box-shadow: 2px 2px 1px 1px #ddd;
}

.left{
  margin-left:1em;
  margin-right:auto;
  display:block;
}

.right{
  margin-right:1em;
  margin-left:auto;
  display:block;
}

.right, .left {
 max-height: 100vh;
 max-width: 75vw;
}

.column-narrow{
 padding:1em;
}

div.image{
  margin-bottom:3em;
}

p{
  padding:1em;
  text-align: justify;
}

@media screen and (min-width:600px){
  .site-title {
    font-size:3em;
  }
  
  .left{
    margin-left:2em;
  }
  
  .right{
    margin-right:2em;
  }
  
  .right, .left {
   max-width: 80vw;
  }
  
  div.image{
    margin-bottom:6em;
  }
  
  img.bottom{
    margin-bottom:-1em;
    margin: auto;
    display: block;
    padding-top: 2em;
  }
  
  p{
    max-width:38em;
    margin:auto;
    
  }
  
  .column{
    max-width:80%;
    padding:1em;
    margin:auto;
  }
  
  .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .column-narrow{
    max-width:38em;
    margin:auto;
  }
  
  .product-container{
    padding:1em;
    width:80%;
  }
  
  .product-image{
    margin:auto;
    display:block;
  }
  
  .product-container .column-narrow {
    text-align: center;
}
}

@media screen and (min-width:1200px){
  .product-container{
    width:60%;
  }
}
